{% extends 'base.html' %}

{% block title %}
Plates
{% endblock %}

{% block content %}
    <div class="main_div">
        <h1>All Plates</h1>
    </div>
        <table class="table">
            <thead>
                <tr>

                    <th scope="col">Abbreviation</th>
                    <th scope="col">City</th>
                    <th scope="col">Bundesland</th>
                    <th scope="col">Country</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
               {% for item in items %}
               <tr>
                   <td>{{item[1]}}</td>
                   <td>{{item[2]}}</td>
                   <td>{{item[3]}}</td>
                   <td>{{item[4]}}</td>
                   <td>
                       <form action="/delPlates" method="POST" style="display:inline;">
                           <input type="hidden" name="kuerzel" value="{{ item[1] }}">
                           <button type="submit" class="btn btn-light">Delete</button>
                       </form>
                   </td>
               </tr>
               {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}