{% extends 'base.html' %}

{% block title %}
The Plate registration
{% endblock %}

{% block content %}
    <div class="main_div">
        <h1>Register here</h1>
        <form>
              <div class="mb-3">
                  <label for="lastName" class="form-label">last name</label>
                  <input type="text" class="form-control" id="lastName" name="lastName">
              </div>
              <div class="mb-3">
                  <label for="firstName" class="form-label">first name</label>
                  <input type="text" class="form-control" id="firstName" name="firstName">
              </div>
              <div class="mb-3">
                  <label for="Username" class="form-label">User name</label>
                  <input type="text" class="form-control" id="Username" name="username">
              </div>
              <div class="mb-3">
                  <label for="Email" class="form-label">Email address</label>
                  <input type="text" class="form-control" id="Email" name="email">
              </div>
            <div class="mb-3">
                <label for="Password" class="form-label">Password</label>
                <input type="password" class="form-control" id="Password" name="password">
            </div>
            <button type="submit" class="btn btn-success">Register now</button>
        </form>
    </div>
{% endblock %}